.advantages-list-item {
  text-align: center;
  width: 280px;
  display: block;

  @media (min-width: @tablet-width) {
    width: 100%;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    display: inline-block;
    text-align: center;
  }
}


@media (min-width: @desktop-width) {
  .advantages-list-item:last-child::before {
    margin: 0 auto;
    content: "";
    display: block;
    background-image: url("../img/element/phone-hello-desktop.png");
    width: 300px;
    height: 382px;
    background-repeat: no-repeat;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/element/phone-hello@2x-desktop.png");
    }
  }

  .advantages-list-item:nth-child(2)::before {
    margin: 0 auto;
    content: "";
    display: block;
    width: 300px;
    height: 382px;
    background-image: url("../img/element/phone-pink-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/element/phone-pink@2x-desktop.png");
    }
  }

  .advantages-list-item:nth-child(1)::before {
    margin: 0 auto;
    content: "";
    display: block;
    width: 300px;
    height: 382px;
    background-image: url("../img/element/phone-bw-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/element/phone-bw@2x-desktop.png");
    }
  }
}
