//.advantages-list-item {}
//.advantages-item {}

.advantages-item__heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: @black;
}

.advantages-item__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @darkblue;
}
