.advantages-list-item {
  text-align: center;
  display: block;

  @media (min-width: @tablet-width) {
    width: 100%;
    text-align: start;
    grid-column: 2;
    padding-bottom: 34px;

    &:first-child {
      margin-top: 72px;
    }

    @media (min-width: @desktop-width) {
      width: 300px;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      margin-top: 62px;

      &:first-child {
        margin-top: 62px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages-list-item:last-child::before {
    margin: 0 auto;
    content: "";
    display: block;
    background-image: url("../img/element/phone-hello-desktop.png");
    width: 186px;
    height: 382px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(40px);
    z-index: 1;
    position: relative;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/element/phone-hello@2x-desktop.png");
    }

    @media (min-width: @desktop-width) {
      width: 186px;
      height: 301px;
      background-size: 100%;
      transform: translateY(0);
    }
  }

  .advantages-list-item:nth-child(2)::before {
    margin: 0 auto;
    content: "";
    display: block;
    width: 186px;
    height: 382px;
    background-image: url("../img/element/phone-pink-desktop.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(40px);
    z-index: 1;
    position: relative;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/element/phone-pink@2x-desktop.png");
    }

    @media (min-width: @desktop-width) {
      width: 186px;
      height: 301px;
      background-size: 100%;
      transform: translateY(0);
    }
  }

  .advantages-list-item:nth-child(1)::before {
    margin: 0 auto;
    content: "";
    display: block;
    width: 186px;
    height: 382px;
    background-image: url("../img/element/phone-bw-desktop.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(40px);
    z-index: 1;
    position: relative;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/element/phone-bw@2x-desktop.png");
    }

    @media (min-width: @desktop-width) {
      width: 186px;
      height: 301px;
      background-size: 100%;
      transform: translateY(0);
    }
  }
}
