.banner__wrapper {
  text-align: start;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content max-content max-content;
  padding: 0 20px;
  justify-content: start;
  grid-template-areas:
    "banner-logo banner-heading"
    "banner-logo banner-text"
    "banner-logo banner-link";

  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}

.banner__heading {
  grid-area: banner-heading;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  padding-left: 72px;
  padding-bottom: 0;
  margin: 96px 0 0;

  @media (min-width: @desktop-width) {
    margin: 128px 0 0;
    padding-bottom: 0;
  }
}

.banner__heading br {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.banner__logo {
  grid-area: banner-logo;
  background-image: url("../img/element/timer.svg");
  display: block;
  min-width: 238px;
  min-height: 278px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 54px;

  @media (min-width: @desktop-width) {
    min-width: 298px;
    min-height: 345px;
  }
}

.banner__text {
  grid-area: banner-text;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 0 0 0 72px;
  margin: 0 0 8px 0;

  @media (min-width: @desktop-width) {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }
}

.banner__text-link {
  grid-area: banner-link;
  padding-left: 72px;
  color: @red;
  cursor: pointer;

  &:hover {
    color: @black;
    text-decoration: none;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
