.button {
  display: block;
  font-family: "Open Sans" Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: @white;
  text-decoration: none;
  border: solid 3px @white;
  border-radius: 29px;
  box-sizing: border-box;
  margin: auto 0;
}

.button--upload-catalog {
  width: 280px;
  padding: 16px 0;
  color: @red;
  border: solid 3px @red;

  &:hover {
    background-color: @red;
    color: @white;
  }

  &:active {
    color: fade(@white, 30%);
  }

  @media (min-width: @tablet-width) {
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
  }
}

.button--reset-catalog {
  width: 280px;
  padding: 16px 0;
  color: fade(@darkblue, 10%);
  border: solid 3px  fade(@darkblue, 10%);


  &:hover {
    border: solid 3px  fade(@darkblue, 30%);
    color: fade(@darkblue, 30%);
  }

  &:active {
    color: fade(@white, 30%);
    background-color: fade(@darkblue, 30%);
    border: solid 3px fade(@darkblue, 30%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media (min-width: @tablet-width) {
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
  }
}
