.button {
  display: block;
  font-family: "Open Sans" Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: @white;
  text-decoration: none;
  border: solid 3px @white;
  border-radius: 29px;
}

.button--downloads {
  display: block;
  max-width: 300px;
  padding-top: 18px;
  padding-bottom: 21px;
  margin-bottom: 38px;
}


.button--catalog {
  display: block;
  width: 280px;
  padding: 21px 90px;
}
