.contest-form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 100%;
  align-items: cemter;
  grid-template-areas:
    "personal"
    "travel"
    "contact"
    "application"
    "emotions";

  @media (min-width: @tablet-width) {
    grid-template-areas:
      "personal"
      "application"
      "contact"
      "travel"
      "emotions";
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "personal application"
      "contact contact"
      "travel travel"
      "emotions emotions";
    grid-column-gap: 74px;
  }
}

.contest-form__section-personal {
  grid-area: personal;
  display: grid;
  grid-template-columns: auto;

  @media (min-width: @tablet-width) {
    .contest-form__text-item {
      align-items: center;
      display: grid;
      grid-template-columns: max-content 1fr;

      .contest-form__text-label {
        margin-right: 20px;
      }

      .contest-form__text-input {
        width: 100%;

        &:hover {
          border-color: @darkblue;
        }

        &:active {
          border-color: @red;
        }

        &:focus-visible {
          outline: none;
          border-color: @red;
        }
      }
    }
  }

  @media (min-width: @desktop-width) {
    .contest-form__wrapper {
      width: 100%;
    }
  }
}

.contest-form__section-app {
  grid-area: application;

  @media (min-width: @tablet-width) {
    margin-top: 12px;
  }
}

.contest-form__section-border {
  @media (min-width: @tablet-width) {
    border: 2px solid @grey;
    align-content: center;
    padding: 0 50px;
  }
}

.contest-form__section-contact {
  margin-top: 42px;
  grid-area: contact;
  margin-bottom: 26px;

  @media (max-width: @mobile-width-only) {
    .contest-form__heading {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    .contest-form__text-item {
      display: grid;
      grid-template-columns: 1fr max-content;
    }

    .contest-form__text-label {
      order: 2;
      display: block;
      width: 100%;
    }

    .contest-form__text-item--phone::after {
      content: "";
      display: block;
      width: 55px;
      height: 55px;
      background-image: url("../img/element/phone-icon.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-color: @grey;
      border: 2px solid #e5e5e5;
      border-left: none;
    }

    .contest-form__text-item--adress::after {
      content: "";
      display: block;
      width: 55px;
      height: 55px;
      background-image: url("../img/element/mail-icon.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-color: @grey;
      border: 2px solid #e5e5e5;
      border-left: none;
    }

    .contest-form__text-input {
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      max-height: 59px;
    }
  }

  @media (min-width: @desktop-width) {
    .contest-form__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 74px;

      .contest-form__heading {
        grid-column-start: 1;
        grid-column-end: -1;
      }

      .contest-form__text-input {
        margin-bottom: 22px;
      }
    }
  }
}

.contest-form__section-travel {
  margin-top: 26px;
  grid-area: travel;

  @media (min-width: @tablet-width) {
    margin-top: 12px;
  }

  @media (min-width: @desktop-width) {
    .contest-form__checkbox-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.contest-form__section-emotions {
  grid-area: emotions;
  margin-bottom: 30px;
}


//.contest-form {}

.contest-form__section {
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}

.contest-form__section:nth-child(even) {
  @media (max-width: @mobile-width-only) {
    background-color: @block-background-grey;
  }
}

.contest-form__wrapper {
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.contest-form__heading {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @red;
  text-align: center;
  margin: 38px 0;
}

.contest-form__text-item {
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }
}

.contest-form__text-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @red;
  padding-left: 23px;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }
}

.contest-form__text-input {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  padding: 23px 0 23px 23px;
  box-sizing: border-box;
  height: 100%;
  max-height: 62px;
}

.contest-form__text-area {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  box-sizing: border-box;
  height: 100%;
  resize: vertical;
  min-height: 180px;
}

.contest-form__checkbox-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: start;
}

.contest-list__checkbox-item {
  padding-left: 59px;
  margin-bottom: 52px;
  position: relative;
  font-size: 18px;
  line-height: 30px;

  &:last-child {
    margin-bottom: 26px;
  }
}

.contest-form__checkbox-input {
  // font-weight: normal;
  // font-size: 18px;
  // line-height: 30px;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contest-form__checkbox-input label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.contest-form__checkbox-input + label::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background: @white;
  border: 2px solid @background-grey;
  border-radius: 1px;
  left: 0;
}




.contest-form__checkbox-input:checked + label::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url("../img/element/tick.svg");
  background-repeat: no-repeat;
  left: 10px;
  top: 10px;
}

.contest-form__radio-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: start;
}

.contest-list__radio-item {
  position: relative;
  margin-bottom: 46px;
  padding-left: 70px;
  font-size: 18px;
  line-height: 30px;
}

.contest-form__radio-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contest-form__radio-input label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.contest-form__radio-input + label::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  background: @white;
  border: 2px solid @background-grey;
  border-radius: 50%;
  left: 0;
}

.contest-form__radio-input:checked + label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: @red;
  border: 2px solid @background-grey;
  border-radius: 50%;
  left: 11px;
  top: 11px;
}

@media (min-width: @tablet-width) {
  .contest-form__heading {
    background-color: @white;
    width: 318px;
    margin: -10px auto 0;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 48px;
  }
}
