// .contacts {}
.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.contacts__heading {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 45px;
}

.contacts__list {
  list-style: none;
  padding: 0;
}

.contacts__item {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: grid;
  justify-items: center;
  text-align: center;
}

.contacts__item--link {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @red;
  margin-bottom: 35px;
}

.contacts__map {
  height: 200px;
  width: 100%;
  position: relative;
  padding-top: 74px;

  &::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 33px 50vw 0 50vw;
    border-color: @white transparent transparent transparent;

    @media (min-width: @tablet-width) {
      border-width: 68px 50vw 0 50vw;
    }

    @media (min-width: @desktop-width) {
      border-width: 123px 50vw 0 50vw;
    }
  }

  @media (min-width: @tablet-width) {
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    height: 502px;

  }
}
