.downloads-platform__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  outline: 2px solid red;
  justify-content: center;
}
.downloads-platform-list__item {
  outline: red 2px solid;
  width: 100px;
  height: 100px;
}
