.downloads {
  background-color: @background-darkblue;
  color: @white;
  background-image: url("../../img/elements/back-mobiledownloads-main-image.jpg");
  background-repeat: no-repeat;
  height: 462px;
  width: 100%;
}

//.downloads__wrapper {}

.downloads__heading {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.downloads__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
