.downloads {
  display: grid;
  color: @white;
  justify-content: start;
  grid-template-columns: 1fr;
  background-color: @darkblue;
  margin: 0 auto;
  position: relative;
  margin-top: -66px;
  width: 100%;
  background-image: url("../img/elements/inner_page_header__background.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1200px;
  z-index: -2;

  @media (min-width: @tablet-width) {
    margin-top: -110px;
  }
}

.downloads::after {
  content: "";
  background-image: url("../img/elements/downloads_background.png");
  background-size: 1200px 271px;
  background-repeat: no-repeat;
  height: 271px;
  width: 100%;
  align-self: flex-end;
  position: absolute;
  display: block;
  z-index: -1;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.downloads__wrapper {
  margin: 66px auto 0;
  width: 100%;
  max-width: 1200px;
}

.downloads__container {
  padding: 0 20px;
  width: auto;
  justify-content: start;
  display: grid;
  max-width: 1200px;

  @media (max-width: @mobile-width-only) {
    justify-content: center;
  }

  @media (min-width: @tablet-width) {
    height: 618px;
    display: block;
    min-width: @tablet-width;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    height: 743px;
    display: block;
    min-width: @tablet-width;
    text-align: left;
    padding: 0 96px;
  }
}

.downloads__heading {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  width: 300px;
  text-align: center;
  padding-top: 29px;
  margin: 0;


  @media (min-width: @tablet-width) {
    padding-top: 102px;
    transition: 0.3s;
    margin-bottom: 39px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 114px;
    transition: 0.3s;
    margin-bottom: 51px;
  }
}

.downloads__heading::after {
  content: "";
  display: block;
  width: auto;
  height: 286px;
  background-image: url("../img/elements/phone_main_page.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 34px;
  transform: translateY(35px) translateX(-20px);

  @media (min-width: @tablet-width) {
    position: absolute;
    transition: 0.3s;
    width: 660px;
    height: 545px;
    margin: 0;
    transform: translateY(-85px) translateX(150px);
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    transition: 0.3s;
    width: 1050px;
    height: 845px;
    margin: 0;
    transform: translateY(-75px) translateX(150px);
    z-index: -1;
  }
}

.downloads__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  width: 280px;
  display: block;
  margin-bottom: 38px;
  text-align: start;

  @media (max-width: @mobile-width-only) {
    text-align: center;
  }
}

.downloads__button {
  display: inline-block;
  max-width: 300px;
  padding-top: 18px;
  padding-bottom: 21px;
  margin-bottom: 32px;
  margin-top: 28px;
  text-align: center;
  width: 100%;
}

.downloads__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 28px;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: auto;
}

.downloads__list-item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.downloads__link--android {
  background-image: url("../img/elements/android-logo.svg");
  background-size: auto;
  width: 43px;
  height: 47px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.downloads__link--windows {
  background-image: url("../img/elements/microsoft-logo.svg");
  background-size: auto;
  width: 43px;
  height: 47px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.downloads__link--apple {
  background-image: url("../img/elements/apple-logo.svg");
  background-size: auto;
  width: 47px;
  height: 56px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}
