.downloads {
  display: grid;
  color: @white;
  justify-content: start;
  grid-template-columns: 1fr;
  background-color: @darkblue;
  margin: 0 auto;
  margin-top: -66px;
  width: 100%;
  background-image: url("../img/element/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -2;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/element/back@2x-mobile.jpg");
  }

  @media (min-width: @tablet-width) {
    margin-top: -110px;
    background-image: url("../img/element/back-tablet-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/element/back@2x-tablet-1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: -110px;
    background-image: url("../img/element/back-desktop-1.jpg");
    background-size: 1200px;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/element/back@2x-desktop-1.jpg");
    }
  }
}


.downloads__container::after {
  content: "";
  background-image: url("../img/elements/downloads_background.png");
  background-size: 100% 271px;
  background-repeat: no-repeat;
  height: 271px;
  width: 100%;
  align-self: flex-end;
  position: absolute;
  display: block;
  bottom: 0;
  z-index: 1;

  @media (min-width: @mobile-width-only) {
    height: 0;
  }
}

.downloads__container::before {
  display: none;

  @media (max-width: @mobile-width-only) {
    position: absolute;
    content: "";
    display: block;
    width: 320px;
    height: 286px;
    background-image: url("../img/element/hand-mobile.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    transform: translateY(110px);
    z-index: 100;
    justify-self: flex-start;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/element/hand@2x-mobile.png");
    }
  }
}

.downloads__wrapper {
  margin: 66px auto 0;
  width: 100%;
  max-width: 1200px;

  @media (min-width: @tablet-width) {
    margin: 110px auto 0;
  }
}

.downloads__container {
  position: relative;
  width: auto;
  justify-content: start;
  display: grid;

  @media (max-width: @mobile-width-only) {
    justify-content: center;
    justify-items: center;
  }

  @media (min-width: @tablet-width) {
    height: 618px;
    display: block;
    min-width: @tablet-width;
    text-align: left;
    box-sizing: border-box;
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    height: 743px;
    display: block;
    min-width: @tablet-width;
    text-align: left;
    padding: 0 96px;
  }
}

.downloads__heading {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  width: 300px;
  text-align: center;
  padding: 29px 0 0 0;
  margin: 0;
  height: 396px;
  position: relative;
  z-index: 1;

  @media (min-width: @tablet-width) {
    font-style: normal;
    padding-top: 102px;
    margin-bottom: 39px;
    height: auto;
    font-weight: 300;
    font-size: 40px;
    line-height: 120%;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 51px;
    font-size: 50px;
    line-height: 68px;
  }
}

// .downloads__heading::before  {
//   position: absolute;
//   content: "";
//   display: block;
//   width: auto;
//   height: 286px;
//   background-image: url("../img/element/hand-mobile.png");
//   background-size: 100%;
//   background-repeat: no-repeat;
//   background-position: top;
//   margin-top: 34px;
//   transform: translateY(429px) translateX(-20px);
//   z-index: 100;

//   @media (min-resolution: 2dppx) {
//     background-image: url("../img/element/hand@2x-mobile.png");
//   }

//   @media (min-width: @tablet-width) {
//     position: absolute;
//     width: 660px;
//     height: 545px;
//     margin: 0;
//     transform: translateY(-85px) translateX(0);

//     background-image: url("../img/element/hand-tablet.png");

//     @media (min-resolution: 2dppx) {
//       background-image: url("../img/element/hand@2x-tablet.png");
//     }
//   }

//   @media (min-width: @desktop-width) {
//     position: absolute;
//     width: 1050px;
//     height: 845px;
//     margin: 0;
//     transform: translateY(-70px) translateX(40px);

//     background-image: url("../img/element/hand-desktop.png");

//     @media (min-resolution: 2dppx) {
//       background-image: url("../img/element/hand@2x-desktop.png");
//     }
//   }
// }

.downloads__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  max-width: 300px;
  padding: 0;
  display: block;
  margin-bottom: 38px;
  z-index: 2;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    text-align: center;
    height: 34px;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
  }
}

.downloads__button {
  max-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  width: 100%;
  height: 55px;
  line-height: 18px;
  cursor: pointer;
  z-index: 2;

  &:hover {
    background-color: @white;
    color: @red;
  }

  &:active {
    background-color: @white;
    color: fade(@red, 30%);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
  }
}

.downloads__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 28px;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: auto;
  z-index: 20;

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.downloads__list-item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.downloads__link--android {
  background-image: url("../img/element/android-logo.svg");
  background-size: auto;
  width: 43px;
  height: 47px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.downloads__link--windows {
  background-image: url("../img/element/microsoft-logo.svg");
  background-size: auto;
  width: 43px;
  height: 47px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.downloads__link--apple {
  background-image: url("../img/element/apple-logo.svg");
  background-size: auto;
  width: 47px;
  height: 56px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}
