.footer-bottom {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-bottom__wrapper {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  justify-items: center;
  align-items: center;
  max-width: 1200px;
  padding: 0 20px 32px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: max-content auto max-content;
    justify-items: center;
    transition: 0.5s;
    align-items: baseline;
    height: 100%;
    margin-top: 10px;


    @media (min-width: @desktop-width) {
      padding: 75px 130px;
    }
  }
}

.footer-bottom__logo {
  margin-top: 34px;
  margin-bottom: 0;
  grid-column: 1/2;

  &:active {
    opacity: 30%;
  }
  fill: @darkblue;

  &:hover {
    fill: @red;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.footer-bottom__logo-image--mobile {
  width: 145px;
  height: 40px;
  display: block;

  @media (min-width: @desktop-width) {
    display: none;
    width: 145px;
    height: 40px;
  }
}

.footer-bottom__logo-image--desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    width: 147px;
    height: 40px;
  }
}

.footer-bottom__developer-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-top: 34px;
}

.developer-info__logo {
  margin-left: 15px;
  width: 27px;
  height: 34px;
  fill: @red;
}

@media (min-width: @tablet-width) {
  display: grid;
  grid-template-columns: max-content auto max-content;
  justify-items: normal;

  .footer-bottom__logo {
    grid-column: 1/2;
  }
}
