.footer-bottom {
  height: 284px;
  display: grid;
  max-width: 1200px;
  margin: 0 auto;


  @media (min-width: @tablet-width) {
    height: 127px;
  }
}

.footer-bottom__wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  max-width: 1200px;


  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: max-content auto max-content;
    justify-items: center;
    transition: 0.5s;
  }
}

.footer-bottom__logo {
  grid-column: 1/2;
}
//.footer-bottom__logo-image {}

.footer-bottom__developer-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.developer-info__logo {
  margin-left: 15px;
}

@media (min-width: @tablet-width) {
  display: grid;
  grid-template-columns: max-content auto max-content;
  justify-items: normal;

  .footer-bottom__logo {
    grid-column: 1/2;
  }
}
