.form {
  background-color: @white;
}

.form__inner-page-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @darkblue;
}
//.form__form {}

//.contest-form {}

//.contest-form__section {}

.contest-form__heading {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @red;
}

//.contest-form__text-item {}

.contest-form__text-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @red;
}

.contest-form__text-input {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

// .contest-form__checkbox-list {}

// .contest-list__checkbox-item {}

.contest-form__checkbox-input {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.form__necessary-fields {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__necessary-fields-symbol {
  color: @red;
}

// .contest-form__radio-list {}

// .contest-list__radio-item {}
// .contest-form__radio-input {}
// .form-button {}
//.form__necessary-fields {}
