.form {
  background-color: @white;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
}

.form__inner-page-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @darkblue;
  text-align: center;
  margin-top: 54px;
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    margin-top: 100px;
  }
}

.form__necessary-fields {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__necessary-fields-symbol {
  color: @red;
}


// .form-button {}
//.form__necessary-fields {}
