.inner-page {
  height: 100%;
  font-size: 14px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  line-height: 30px;
  width: 100%;
}

.inner-page__wrapper {
  background-color: @darkblue;
  margin: 0 auto;
  position: relative;
  margin-top: -66px;
  width: 100%;
  // background-image: url("../img/element/inner_page_header__background.png");
  // background-repeat: no-repeat;
  // background-position: center top;
  // background-size: 1200px;
  // z-index: -2;
  @media (min-width: @tablet-width) {
    margin-top: -110px;
  }

  background-image: url("../img/element/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -2;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/element/back@2x-mobile.jpg");
  }

  @media (min-width: @tablet-width) {
    margin-top: -110px;
    background-image: url("../img/element/back-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/element/back@2x-tablet.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: -110px;
    background-image: url("../img/element/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/element/back@2x-desktop.jpg");
    }
  }
}

.inner-page__header {
  display: grid;
  color: @white;
  justify-content: center;
  text-align: center;
  height: 237px;


  @media (min-width: @tablet-width) {
    height: 440px;
    transition: 0.3s;
  }

  @media (min-width: @desktop-width) {
    height: 394px;
    transition: 0.3s;
  }
}

.inner-page__header-heading {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @white;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 58px;

  @media (min-width: @tablet-width) {
    margin-top: 152px;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 114px;
  }
}

.inner-page-heading__text {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
