.inner-page {
  height: 100%;
  font-size: 14px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  line-height: 30px;
}

//.inner-page__wrapper {}
.inner-page__header {
  background-color: @background-darkblue;
}

.inner-page__header-heading {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @white;
}
