.page-header {
  background-color: @transparent-black;
  color: white;
  width: 100%;
  position: absolute;
  height: 66px;

  @media (min-width: @tablet-width) {
    height: 110px;
    transition: 0.1s;
  }
}

.page-header__logo {
  height: 23px;

  @media (min-width: @tablet-width) {
    height: 40px;
  }
}

// .page-header__logo-image {}
