.page {
  height: 100%;
  font-size: 14px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  line-height: 30px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: @background-grey;
  color: @darkblue;
  background-image: url("../img/elements/inner_page_header__background.png");
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: center top;
}

.page__container {
  max-width: 1200px;
  margin: 0 auto;
  background-size: cover;
}
