.page {
  height: 100%;
  font-size: 14px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  line-height: 30px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: @background-grey;
  color: @darkblue;
  background-image: url("../img/elements/inner_page_header__background.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1200px;
}

.page__body--inner {
  background-image: url("../img/elements/inner__page_background.png");
  background-size: contain;

  @media (min-width: @desktop-width) {
    background-size: 1200px;
    background-position-y: -400px;
  }
}


