.page {
  height: 100%;
  font-size: 14px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}

.page__body {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  min-height: 100%;
  margin: 0;
  background-color: @background-grey;
  color: @darkblue;
}
