.photo-editor__icon-crop {
  display: block;
  width: 44px;
  height: 44px;
  background-image: url("../img/element/crop.svg");
}

.photo-editor__slider {
  display: none;
}

.photo-editor__slider--active {
  margin-top: 40px;
  display: block;
  position: absolute;
  width: 240px;
}

.photo-editor__icon-fill {
  display: block;
  width: 48px;
  height: 43px;
  background-image: url("../img/element/fill.svg");
}

.photo-editor__icon-contrast {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../img/element/contrast.svg");
}
