.photos {
  background-color: @white;
  width: 100%;
  text-align: center;
}

.photos__wrapper {
  margin: 0 auto;
  background-color: @white;
}

.photos__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 60px;
  padding: 54px 20px 60px;
  max-width: 940px;
  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 30px;
  }

  &::after {
    content: "панорама дня";
    color: @white;
    position: absolute;
    width: 140px;
    height: 36px;
    background-color: @red;
    display: inline-block;
    z-index: 10;
    bottom: -36px;
    right: 20px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 36px;
    font-weight: bold;

    @media (min-width: @desktop-width) {
      right: 0;
      transform: translateY(54px);
    }

    @media (min-width: @desktop-width) {
      right: 0;
    }
  }
}

.photos__list-container {
  margin: 0 auto;
  max-width: 1200px;
}

.photos__list {
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding: 0;
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content auto;
    margin: 0 96px;
  }
}

.photos__footer {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-top: 49px;
  padding-bottom: 52px;
  margin: 0;
}

