.photo-upload {
  background-color: @block-background-grey;
  padding-top: 20px;
}

.photo-upload__wrapper {
  margin: 0 20px;
}

.photo-upload__form {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 41px;
  justify-items: center;
}

.photo-upload__picture {
  width: 100;
  max-width: 300px;
  margin-bottom: 42px;
}

.photo-upload__upload {
  display: none;
}

.photo-upload__editor-list {
  list-style: none;
  margin: 0;
  margin-bottom: 114px;
  padding: 0;
  display: flex;
}

.photo-upload__editor-item {
  margin-right: 35px;
}

.photo-upload__buttons {
  display: grid;
  row-gap: 12px;
}
