.platform-item__apple {
  display: block;
  width: 47px;
  height: 56px;
  background-image: url("../img/elements/apple-logo.svg");
}

.platform-item__android {
  display: block;
  width: 43px;
  height: 47px;
  background-image: url("../img/elements/android-logo.svg");
}

.platform-item__windows {
  display: block;
  width: 44px;
  height: 41px;
  background-image: url("../img/elements/microsoft_logo.svg");
}
