.slider {
  position: relative;
  text-align: center;
  align-items: center;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.slider__toggle {
  padding: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: @slider-toggle;
  margin-right: 19px;

  &:hover {
    background-color: fade(@darkblue, 60%);
  }

  &:active {
    background-color: fade(@darkblue, 10%);
  }
}

.slider__toggle--current {
  background-color: @white;
  border: 3px solid @darkblue;
  width: 12px;
  height: 12px;
}
