//.social-media {}

.social-medial__list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.social-media__item {
  margin-right: 14px;
  border: 3px solid fade(@black, 10%);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:last-child {
    margin: 0;
  }
}

.social-media__button--twitter {
  background-image: url(../img/element/twitter.svg);
  width: 18px;
  height: 14px;
  background-size: 100%;
  display: block;
}

.social-media__button--facebook {
  background-image: url(../img/element/facebook.svg);
  width: 9px;
  height: 18px;
  background-size: 100%;
  display: block;
}

.social-media__button--youtube {
  background-image: url(../img/element/youtube.svg);
  width: 15px;
  height: 13px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
}
