// .subscription-plan {}
// .subscription-plan__wrapper {}

.subscription-plan__table {
  border-collapse: collapse;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.subscription-plan__heading-table-row {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: @white;
  background-color: @background-darkblue;
}

.subscription-plan__heading-first-cell {
  border: 2px solid @background-grey;
  border-radius: 1px 0 0 0;
  visibility: hidden;
}

.subscription-plan__heading-table-cell {
  border: 2px solid @darkblue;
  border-radius: 1px 0 0 0;
}

.subscription-plan__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: @white;
}

// .subscription-plan__main-table-row {}

.subscription-plan__legend-cell {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  border: 2px solid @background-grey;
  background-color: @white;
  color: @darkblue;
  text-transform: uppercase;
}

.subscription-plan__data-cell {
  border: 2px solid @background-grey;
  background-color: @white;
}

// .subscription-plan__data-cell--tick {}
// .subscription-plan__data-cell--cross {}
// .subscription-plan__toggles {}
